@font-face {
    font-family: "Gilroy-Regular";
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url(../fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url(../fonts/Gilroy-SemiBold.ttf);
}



.list-link.active {
    font-family: "Gilroy-SemiBold", sans-serif;
    color: #F25822;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.list-link {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 14px;
    color: #000;
    font-family: 500;
    font-size: 14px;
    line-height: 16px;
}

.list-item {
    padding-right: 30px;
}

.nav-btn {
    width: 120px;
    height: 40px;
    background-color: #F25822;
    padding: 12px 27px 13px;
    font-family: "Gilroy-SemiBold", sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    border-radius: 30px;
}

.hero-title {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 17px;
}

.hero-text {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    font-weight: 500;
    margin-bottom: 37px;
}

.hero-content {
    background-image: url("../img/bloobs.svg");
    background-repeat: no-repeat;
    background-position: left center;
}

.start-btn {
    width: 140px;
    height: 50px;
    background-color: #F25822;
    border-radius: 50px;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: #FFFFFF;
    padding: 15px 36px 16px 35px;
    margin-right: 27px;
}

.watch-btn {
    width: 135px;
    height: 30px;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: #AAAAAA;
}

.watch-btn img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

#brand {
    height: 243px;
}

.brand-list {
    display: flex;
    column-gap: 48px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}


#about {
    background-image: url("../img/element.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FAFAFA;
}

.about-title {
    margin-bottom: 20px;
}

.about-desc {
    margin-bottom: 35px;
}

.about-btn {
    width: 140px;
    height: 50px;
    background-color: #F25822;
    color: #FFFFFF;
    padding: 16px 31px 15px;
    border-radius: 50px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 15px;
    line-height: 18px;
}

.title {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 45px;
    line-height: 53px;
    color: #000000;
}

.desc {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
}

.text {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 15px;
    line-height: 150%;
    color: #666666;
}

#feature {
    height: 491px;
}

.feature-card {
    width: 370px;
    height: 291px;
    padding: 40px 0 25px 30px;
    margin-right: 60px;
}

.feature-card:hover {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.feature-card img {
    margin-bottom: 25px;
}

.feature-title {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 17px;
}

.feature-desc {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 15px;
    line-height: 150%;
    color: #666666;
    margin-bottom: 25px;
}

.feature-card a {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 11px;
    line-height: 150%;
    color: #000000;
}

#services {
    text-align: center;
    background-color: #FAFAFA;
}

#services .row {
    text-align: center;
    padding: 92px 0 100px 0;
    column-gap: 30px;
}

.services-title {
    margin-bottom: 19px;
}

.services-desc {
    margin-bottom: 55px;
}

.services-card {
    width: 370px;
    height: 549px;

}

.services-card:hover {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.services-card img {
    width: 370px;
    height: 270px;
    margin-bottom: 25px;
}

.services-card h2 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 22px;
}

.services-card p {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #AAAAAA;
    margin-bottom: 39px;
}

.services-card a {
    width: 150px;
    height: 50px;
    background-color: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    padding: 15px 31px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

#whatwedo {
    padding-top: 107px;
}

.whatwedo-title {
    margin-bottom: 19px;
}

.whatwedo-desc {
    margin-bottom: 79px;
}

.whatwedo-card {
    margin-bottom: 47px;
    column-gap: 29px;
    width: 570px;
    height: 134px;
    padding: 17px 30px;
}

.whatwedo-card:hover {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.whatwedo-card h2 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 8px;
}

.whatwedo-card p {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 15px;
    line-height: 150%;
    color: #666666;
}

.funfact-content {
    width: 1170px;
    height: 200px;
    border: 2px solid #EEEEEE;
    padding: 42px 76px;
    text-align: center;
    margin-bottom: 42px;
}

.funfact-title {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 70px;
    line-height: 150%;
    color: #666666;
}

.funfact-desc {
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #666666;
}

.mailbox-title {
    margin-bottom: 3px;
}

.mailbox-desc {
    margin-bottom: 55px;
}

.form-input {
    margin-right: 29px;
}

.form-input input {
    width: 200px;
    height: 50px;
    padding: 16px 20px;
    background-color: #EEEEEE;
    border-radius: 50px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 11px;
    line-height: 150%;
    color: #666666;
}

.form-input input[type="url"] {
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-right: 1.5px solid #CCCCCC;
}

.form-input input[type="email"] {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-left: 1.5px solid #CCCCCC;
}

.form-btn input {
    width: 140px;
    height: 50px;
    background-color: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.25);
    border-radius: 50px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 13px;
    line-height: 150%;
    color: #FFFDFD;
}

#plans {
    padding: 87px 0 100px;
    text-align: center;
    background-color: #FAFAFA;
}

.plans-title {
    margin-bottom: 3px;
}

.plans-desc {
    margin-bottom: 56px;
}

.plans-card {
    width: 370px;
    height: 514px;
    padding: 63px 79px 70px;
    background-color: #FFFFFF;
}

#plans .row {
    column-gap: 30px;
}

.plans-card:hover {
    width: 370px;
    height: 574px;
    box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.07);
}


.card-title {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

.card-price {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 70px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 27px;
}

.card-price sup, sub {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
} 

.card-price span {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 70px;
    line-height: 150%;
    color: #000000;
}

.price {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 16px;
    line-height: 250%;
    text-align: center;
    color: #666666;
}

.card-btn {
    width: 200px;
    height: 50px;
    background-color: rgba(242, 88, 34, 0.25);
    border-radius: 50px;
    margin-top: 27px;    
}

.card-btn a {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 13px;
    line-height: 250%;
    color: #F3602D;
    padding: 9px 64px 8px;
}

.plans-card:hover a {
    color: #FFFFFF;
}

.plans-card:hover .card-title {
    color: #F25822;
}

.plans-card:hover .card-btn {
    background-color: #F25822;
}

#team {
    height: 697px;
    padding: 86px 0 100px;
    text-align: center;
}

.team-title {
    margin-bottom: 12px;
}

.team-desc {
    margin-bottom: 52px;
}

.team-cards {
    column-gap: 30px;
}

.team-card {
    width: 270px;
    height: 331px;
    border: 1px solid #EEEEEE;
    padding: 50px 70px;
}

.team-card:hover {
    box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.1);
}

.team-card img {
    margin-bottom: 14px;
}

.team-card h3 {
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.team-card:hover h3 {
    color: #F25822;
}

.team-card p {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 13px;
    line-height: 150%;
    color: #888888;
    margin-bottom: 17px;
}

.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

#clients {
    text-align: center;
    height: 684px;
    padding-top: 93px;
    padding-bottom: 142px;
}

.clients-title {
    margin-bottom: 19px;
}

.clients-desc {
    margin-bottom: 55px;
}

.client-card {
    width: 570px;
    height: 271px;
    text-align: center;
    background-image: url("../img/quote.png");
    background-repeat: no-repeat;
    background-position: top center;
    border: 2px solid #EEEEEE;
    padding: 25px 30px;
}

.client-card:hover {
    box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
}

.client-card p {
    font-family: 'Gilroy-Medium',sans-serif;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #888888;
    margin-bottom: 29px;
}

.client-card img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.client-card h3 {
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}

.client-card h3 + p {
    font-size: 13px;
}

#blog {
    padding: 90px 0 100px;
    height: 738px;
}

.blog-title {
    margin-bottom: 5px;
    text-align: center;
}

.blog-desc {
    margin-bottom: 55px;
    text-align: center;
}

.blog-card {
    width: 770px;
    height: 330px;
}

.card-content {
    padding-left: 30px;
}

.card-content h3 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 20px;
}

.blog-list {
    column-gap: 35px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 11px;
    line-height: 150%;
    color: #888888;
    margin-bottom: 22px;
}

.card-content p {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 15px;
    line-height: 150%;
    color: #666666;
    margin-bottom: 26px;
}

.card-content a {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 11px;
    line-height: 150%;
    color: #F25822;
}

.blog-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-card:hover {
    box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
}

.footer-info {
    border-bottom: 1px solid #CCCCCC;;
    padding-bottom: 50px;
    margin-bottom: 19px;
}

.info img {
    margin-bottom: 40px;
}

.info {
    margin-right: 35px;
}

.info p {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 16px;
    line-height: 160%;
    color: #666666;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.footer-navbar {
    column-gap: 145px;
}

.footer-navbar h3 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    line-height: 160%;
    color: #000000;
    margin-bottom: 34px;
}

.footer-navbar li {
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 16px;
    line-height: 230%;
    list-style-image: url("../img/yellow-dot.svg");
}

.footer-navbar a {
    color: #666666;
}

.footer-contact li {
    list-style: none;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
    margin-bottom: 10px;
}

.bold {
    color: #000000;
}

.copy {
    text-align: center;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 16px;
    line-height: 230%;
    color: #888888;
    margin-bottom: 19px;
}